body {
  font-size: 100%; /*this sets the base font size for everything*/
}

h1 {
  font-family: 'Denk One', sans-serif;
  font-size: xx-large; /*sets it relative to the base font size*/
}

h2 {
  font-size: x-large;
}

.important {
  font-size: larger; /*makes it a little larger than the parent*/
}

.onePointTwo {
  font-size: 1.2em; /*sets it to 1.2 times the base size*/
}
